
body {
    font-family: Assistant, sans-serif;
    display: flex;
    background: linear-gradient(135deg, #05073a, #06c0dcca);
    min-height: 90vh;
}

.login {
    background: linear-gradient(135deg, #05073a, #dc0606ca);
    color: white;
    margin: auto;
    border-radius: 30px;
    padding: 50px;
    width: 100%;
    max-width: 500px;
}

.login .head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .head .company {
    font-size: 40px;
}

.login .msg {
    font-size: 30px;
    text-align: center;
}

.login .form input[type=text].text {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    border-radius: 6px;
    outline: none;
}

.login .form .text::placeholder {
    color: #D3D3D3;
}

.login .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.login .form .password::placeholder {
    color: #D3D3D3;
}

.login .form .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
}

.login .form .btn-login:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
}

.login .forgot {
    text-decoration: none;
    color: white;
    float: right;
}
.login .forgot:hover{
    color: rgb(132, 255, 0);
}